<!DOCTYPE html>
<html>
<head>
    <title>{%- block title -%}iSentia Crawler Demo{%- endblock -%}</title>
    {% block head %}
        
    {% endblock %}
</head>
<body>
{% block body %}
    
{% endblock %}
</body>
</html>